{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<article>
    <h1>Contact</h1>
    <p class="article-meta">Reach out using any of the methods below.</p>

    <div class="article-body">
        <p>Mail is my most preferred method of communication. If possible, try to encrypt your emails using GPG before you send them.</p>

        <ul>
            <li><a href="mailto:naimish@naimish.xyz">Email</a></li>
            <li>GPG key: <a href="/naimish.asc">naimish.asc</a></li>
            <li>Join <a href="xmpp:public@chat.xmpp.naimish.xyz?join">Naimish's Public Lounge</a> on XMPP</li>
            <li><a href="xmpp:naimish@xmpp.naimish.xyz">XMPP</a></li>
            <li>IRC: <strong>@naimish</strong></li>
            <li>Matrix: <strong>@naimish</strong></li>
            <li>Discord: <strong>@theroguevigilante</strong></li>
        </ul>

        <p>Alternatively, run:</p>
        <pre><code>curl -sL https://naimish.xyz/naimish.asc | gpg --import</code></pre>
        <p><code>Fingerprint: 6B70 701B 4A39 6B49 A55C  B9B2 842A 5AC4 D750 5C89</code></p>
    </div>
</article>
{% endblock %}
