{% extends "base.html" %}

{% block title %}{{ site_title }}{% endblock %}

{% block content %}
<h1><a href="/">{{ page_name }}</a></h1>
<p class="desc">{{ site_description }}</p>

<div class="grid">
    <div class="box">
        <strong>Links</strong><br><br>
        <a href="/contact">Contact</a><br>
        <a href="/blog">Blogs</a><br>
        <a href="/articles">Articles</a><br>
        <a href="https://github.com/TheRogueVigilante">GitHub</a><br>
        <a href="https://youtube.com/@TheRogueVigilante">YouTube</a><br>
    </div>

    <div class="box">
        <strong>Recent Posts</strong><br><br>
        {% for post in recent_posts[..num_of_posts] %}
        {{ post.kind_prefix() }}<a href="{{ post.kind_route() }}{{ post.summary.slug }}">{{ post.summary.title }}</a><br>
        {% endfor %}
    </div>
</div>
{% endblock %}
